
$maxWidthContainer: 1260;
$fontSizeTitle: 20px;

// ========== блоки повторного використання ======
.conteiner{
	padding: 0px 15px;
   margin: 0 auto;
	max-width: $maxWidthContainer + 30px;
}
.title{
	font-size: $fontSizeTitle;
	line-height: 60%;
	font-weight: 700;
	letter-spacing: 0.1;
}
.text-weight{
	font-weight: 500;
}