@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,regular,600&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

:where(a:link, a:visited) {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "Open Sans";
  font-size: 15px;
  color: #000000;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

a {
  cursor: pointer;
}

:where(a:link, a:visited) {
  text-decoration: underline;
}

b {
  font-weight: 400;
}

p {
  font-size: 17px;
  font-weight: 300;
  line-height: 25px;
}

p:not(:last-of-type) {
  margin-bottom: 14px;
}

h3 {
  font-size: 20px;
  line-height: 25px;
  font-weight: 600;
  margin-bottom: 20px;
}

.o-conteiner {
  padding: 0px 15px;
  margin: 0 auto;
  max-width: 1290px;
}

.test {
  width: pow(2, 3)px;
}

.c-outline-button {
  font-size: 20px;
  padding: 15px 20px;
  min-height: 50px;
  border: 1px solid #8b8d8e;
  border-radius: 4%;
  text-decoration: none;
  cursor: pointer;
}

.c-outline-button:hover {
  background-color: #ffca08;
  border-color: #267bae;
  color: #267bae;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.as-link {
  border: none;
  text-decoration: underline;
  padding: 15px;
}

.as-link:hover {
  text-decoration: underline;
  background-color: transparent;
  color: #ffca08;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.c-regular-button {
  min-width: 269px;
  height: 36px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  background-color: #4085b5;
  cursor: pointer;
  padding: 10px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-regular-button:hover {
  background-color: #ffca08;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.c-brand-logo {
  margin-left: 5px;
}

.c-header-chat {
  margin-left: 5px;
}

.c-header-chat__icon {
  color: #ffca08;
}

.c-header-chat__link {
  color: #267bae;
  font-size: 15px;
  padding-right: 10px;
}

.c-header-chat__link:hover {
  text-decoration: none;
  color: #ffca08;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.c-header-search {
  padding: 0px 5px;
}

.c-one-click-order {
  color: #267bae;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  -webkit-text-decoration-style: dashed;
          text-decoration-style: dashed;
  cursor: pointer;
}

.c-one-click-order:hover {
  color: #ffca08;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.c-dropdown {
  margin-left: 5px;
}

.c-dropdown:hover {
  color: #ffca08;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

:where(.c-dropdown-phone:link, .c-dropdown-phone:visited) {
  text-decoration: none;
}

._icon-phone {
  padding-right: 5px;
  color: #ffca08;
}

.c-main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.c-main-nav .c-outline-button + .c-outline-button {
  margin-left: 10px;
}

.с-hero-block {
  background: url("../img/hero-block.jpg") no-repeat 0 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.c-hero-block__title {
  margin: 60px 10px 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 42%;
          flex: 0 0 42%;
}

.c-hero-block__title-text {
  font-size: 32px;
  color: #000000;
  font-weight: 300;
  display: inline;
  background-color: #ffca08;
  opacity: 0.9;
  padding: 5px;
  background-clip: padding-box;
  line-height: 2;
}

.c-panel-menu {
  font-size: 20px;
  color: #ffffff;
  background-color: #000000;
  opacity: 0.75;
  padding: 0px 10px;
  margin: 20px;
  width: 364px;
  display: inline-block;
}

.c-panel-menu__list {
  padding: 20px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-panel-menu__list:not(:last-of-type) {
  border-bottom: 1px solid #585858;
}

.c-panel-menu__list:hover {
  color: #ffca08;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.c-panel-menu__icon {
  font-size: 35px;
  padding-right: 26px;
}

:where(.c-panel-menu__link:link, .c-panel-menu__link:visited) {
  text-decoration: none;
}

.c-linkinator {
  -webkit-box-shadow: 0 0 4px rgba(7, 88, 145, 0.09);
          box-shadow: 0 0 4px rgba(7, 88, 145, 0.09);
  border: 1px solid #d7dcdf;
  border-radius: 4px;
}

.c-linkinator-link-arrow {
  position: absolute;
  top: 16px;
  right: 0;
}

.с-linkinator-header {
  color: #000000;
  font-size: 20px;
  letter-spacing: normal;
  line-height: 115%;
  text-decoration: underline;
  background-color: #f9f9f9;
  padding: 20px 22px;
}

.с-linkinator-body {
  color: #267bae;
}

.с-linkinator-body__list {
  padding: 0px 24px;
}

.с-linkinator-body__list:hover {
  color: #ff9626;
  background-color: #f9f9f9;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  border-bottom: 1px solid #d7dcdf;
  border-top: 1px solid #d7dcdf;
}

.с-linkinator-body__list:not(:last-of-type) .с-linkinator-body__link {
  border-bottom: 1px solid #d7dcdf;
}

.с-linkinator-body__list .с-linkinator-body__link:hover {
  border-bottom: none;
}

.с-linkinator-body__link {
  display: block;
  position: relative;
  padding: 15px 0px;
  margin: 0px 15px;
}

:where(.с-linkinator-body__link:link, .с-linkinator-body__link:visited) {
  text-decoration: none;
}

.c-star-list {
  color: #000000;
  margin-top: 40px;
  margin-bottom: 35px;
}

.c-star-list__item {
  font-weight: 300;
}

.c-star-list__item:not(:last-of-type) {
  margin-bottom: 20px;
}

._icon-star-full {
  color: #ffca08;
  padding-right: 12px;
}

.c-nav-tabs__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 519px;
  padding: 25px 0px;
}

.c-nav-tabs-hedear__input[type="radio"] {
  display: none;
}

.c-nav-tabs-hedear__label {
  color: #000000;
  font-size: 17px;
  font-weight: 600;
  padding: 10px 20px;
}

.c-nav-tabs__body {
  width: 100%;
  padding: 10px 20px;
  background-color: #ffffff;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  display: none;
}

.c-pikachu-menu {
  display: inline-block;
  vertical-align: top;
  margin: 10px;
}

.c-pikachu-menu__list {
  padding: 5px 20px;
}

.c-pikachu-menu__link {
  color: #267bae;
  line-height: 26px;
}

:where(.c-pikachu-menu__link:link, .c-pikachu-menu__link:visited) {
  text-decoration: underline;
}

.c-pikachu-menu__link:hover {
  color: #ffca08;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.c-nav-tabs-hedear__input[type="radio"]:checked + .c-nav-tabs-hedear__label + .c-nav-tabs__body {
  display: block;
}

.c-nav-tabs-hedear__input[type="radio"]:checked + .c-nav-tabs-hedear__label {
  display: block;
  background-color: #ffffff;
}

.c-social-media {
  color: #bdbdbd;
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-social-media .c-social-media__link + .c-social-media__link {
  margin-left: 17px;
}

:where(.c-social-media__link:link, .c-social-media__link:visited) {
  text-decoration: none;
}

.c-social-media__link:hover {
  color: #267bae;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.form-input {
  width: 100%;
  height: 36px;
  -webkit-box-shadow: 0 0 2px #267bae;
          box-shadow: 0 0 2px #267bae;
  border: 1px solid #267bae;
  font-size: 17px;
  color: #ffffff;
  padding: 8px;
  line-height: 30px;
}

.form-input:hover {
  -webkit-box-shadow: 0 0 2px #ff9626;
          box-shadow: 0 0 2px #ff9626;
  border: 1px solid #ff9626;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.c-online-chat {
  position: absolute;
  top: 8.5%;
  right: 0;
  z-index: 20;
  width: 81px;
  height: 99px;
  background-color: #006ea7;
  opacity: 0.9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-online-chat:hover {
  background-color: #ffca08;
  -webkit-transition: -webkit-transform 0.9s ease 0s;
  transition: -webkit-transform 0.9s ease 0s;
  transition: transform 0.9s ease 0s;
  transition: transform 0.9s ease 0s, -webkit-transform 0.9s ease 0s;
}

:where(.c-online-chat:link, .c-online-chat:visited) {
  text-decoration: none;
}

._icon-chat {
  color: #ffffff;
  font-size: 25px;
  margin-bottom: 10px;
}

.online-chat-text {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 17px;
  text-align: center;
}

.linkinator-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.linkinator-section .c-linkinator {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
}

.benefits-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

.benefits__title {
  background-image: url("../img/text-block.jpg");
  width: 726px;
  height: 239px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 57.6%;
          flex: 0 0 57.6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.benefits__title-text {
  display: inline-block;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 5px 20px;
  font-size: 25px;
  font-weight: 300;
  background-color: #ffca08;
  opacity: 0.9;
}

.project-info-section {
  max-width: 790px;
  margin-bottom: 68px;
}

.main-header {
  font-size: 20px;
}

.main-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 30px;
}

.main-header__inner .c-brand-logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 18.25%;
          flex: 0 1 18.25%;
}

.main-header__inner .c-one-click-order {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 18.7%;
          flex: 0 1 18.7%;
}

.main-header__inner .c-dropdown {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 18.17%;
          flex: 0 1 18.17%;
}

.main-header__inner .c-header-chat {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40.87%;
          flex: 1 1 40.87%;
}

.main-footer {
  background-color: #f9f9f9;
}

.footer-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contacts-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 35px;
}

.contacts-footer__link {
  display: block;
  text-decoration: underline;
  line-height: 26px;
  font-size: 17px;
  text-decoration: underline;
  margin-bottom: 12px;
}

.contacts-footer__link:hover {
  color: #267bae;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.link-email {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 15px;
  color: #267bae;
}

.link-email:hover {
  color: #ffca08;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.link-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  text-decoration: none;
}

.link-phone:hover {
  color: #267bae;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.phone-icon {
  padding-right: 7px;
  color: #ffca08;
}

.signup__title {
  margin-top: 20px;
  color: #303030;
  line-height: 40px;
}

.signup__text {
  font-size: 13px;
  color: #808080;
  font-weight: 300;
  letter-spacing: -0.2px;
  margin-bottom: 16px;
}

.signup__form {
  margin-bottom: 7px;
}

.signup__form-field {
  display: block;
  margin-bottom: 10px;
  max-width: 268px;
}

.u-margin-bottom {
  margin-bottom: 12px;
}

.u-padding-right {
  padding-right: 12px;
}

.u-cursor-pointer {
  cursor: pointer;
}

.u-color-accent {
  color: #267bae;
}

.u-color-secondary {
  color: #ffffff;
}

.u-color-info {
  color: #ffca08;
}

.u-color-light {
  color: #f9f9f9;
}

.u-color-dark {
  color: #000000;
}

.u-color-orange {
  color: #ff9626;
}
