.c-outline-button {
	font-size: $fontSizeTitle;
	padding: 15px 20px;
	min-height: 50px;
	border: 1px solid #8b8d8e;
	border-radius: 4%;
	text-decoration: none;
	cursor: pointer;
	
	&:hover {
		background-color: $infoColor;
		border-color: $accentColor;
		color: $accentColor;
		@include transition;
	}
}

.as-link {
	border: none;
	text-decoration: underline;
	padding: 15px;

	&:hover {
		text-decoration: underline;
		background-color: transparent;
		color: $infoColor;
		@include transition;
	}
}
