.c-outline-button{
	width: 125px;
	height: 43px;
	border-radius: 30%;
	background-color: $accent-color;
	font-family: $secondary-font-family;
	color: $light-color;
	line-height: 128,85%;
	cursor: pointer;
	padding: 5px;
	text-align: center;
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	align-items: center;
	
	&:hover{
		background-color: $secondary-color;
		@include transition;
	}
}

.as-link {
	border: none;
	text-decoration: underline;
	padding: 15px;

	&:hover {
		text-decoration: underline;
		background-color: transparent;
		color: $infoColor;
		@include transition;
	}
}
