@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

._conteiner {
  padding: 0px 15px;
  margin: 0 auto;
  max-width: 1290px;
}

.title {
  font-size: 20px;
  line-height: 60%;
  font-weight: 700;
  letter-spacing: 0.1;
}

.text-weight {
  font-weight: 500;
}

.main-header {
  min-height: 145px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.main-header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 10px;
}

.element_1 {
  margin-right: 5px;
  -webkit-box-flex: 1;
      -ms-flex: 1 40px;
          flex: 1 40px;
}

.element_2 {
  margin-right: 5px;
  -webkit-box-flex: 2;
      -ms-flex: 2 100px;
          flex: 2 100px;
}

.element_3 {
  margin-right: 5px;
  -webkit-box-flex: 1;
      -ms-flex: 1 40px;
          flex: 1 40px;
}

.element_4 {
  margin-right: 5px;
  -webkit-box-flex: 1;
      -ms-flex: 1 100px;
          flex: 1 100px;
}

.brand-logo {
  cursor: pointer;
}

.consult-chat ._icon-chat {
  font-size: 20px;
  color: #ffca08;
  padding-right: 7px;
}

a.link-consult-chat {
  color: #267bae;
  text-decoration: underline;
  font-weight: 600;
  padding-right: 10px;
}

a.link-consult-chat:hover {
  text-decoration: none;
  color: #ffca08;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.consult-cell-phone {
  font-size: 20px;
  font-weight: 600;
}

.consult-cell-phone > ._icon-phone {
  padding-right: 5px;
  color: #ffca08;
}

.consult-cell-phone ._icon-arrow-down-2:hover {
  color: #ffca08;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.consult-cell-phone:hover {
  color: #ffca08;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

a.one-click-order {
  cursor: pointer;
  color: #267bae;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  -webkit-text-decoration-style: dashed;
          text-decoration-style: dashed;
  font-size: 20px;
  font-weight: 600;
}

a.one-click-order:hover {
  color: #ffca08;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.search {
  cursor: pointer;
  padding: 0px 5px;
}

._icon-search {
  font-size: 20px;
  font-weight: 700;
  color: #8b8d8e;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  margin-bottom: 20px;
  cursor: pointer;
}

.main-nav__btn {
  font-size: 20px;
  padding: 15px 20px;
  min-height: 50px;
  border: 1px solid #8b8d8e;
  border-radius: 4%;
}

.main-nav__btn:first-child {
  margin-right: 10px;
}

.main-nav__btn:hover {
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  background-color: #ffca08;
  border-color: #267bae;
  color: #267bae;
}

.main-nav__link {
  padding-left: 25px;
}

.main-nav__link:last-child {
  margin-left: 10px;
}

.main-nav__link:hover {
  text-decoration: underline;
  color: #ffca08;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

a.main-nav__link {
  text-decoration: underline;
}

body {
  font-family: "Open Sans";
  font-size: 15px;
  color: #000000;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1;
  text-align: left;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.online-chat {
  position: absolute;
  top: 11.6%;
  right: 7.3%;
  z-index: 20;
  width: 81px;
  height: 99px;
  background-color: #006ea7;
  opacity: 0.9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.online-chat:hover {
  background-color: #ffca08;
  -webkit-transition: -webkit-transform 0.9s ease 0s;
  transition: -webkit-transform 0.9s ease 0s;
  transition: transform 0.9s ease 0s;
  transition: transform 0.9s ease 0s, -webkit-transform 0.9s ease 0s;
}

.online-chat ._icon-chat {
  color: #ffffff;
  font-size: 25px;
  margin-bottom: 15px;
}

.online-chat .online-chat-text {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 17px;
  text-align: center;
}

.hero-block {
  background: url("../img/hero-block.jpg") no-repeat 0 0;
  width: 100%;
  height: 70uv;
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.hero-block .hero-block-nav {
  background-color: #000;
  opacity: 0.75;
  color: #ffffff;
  padding: 0px 10px;
  margin: 0px 20px 20px 20px;
  min-width: 364px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero-block .hero-block-nav li {
  padding: 30px 10px 30px 10px;
}

.hero-block .hero-block-nav li:not(:last-of-type) {
  border-bottom: 0.5px solid #585858;
}

.hero-block .hero-block-nav li:hover {
  color: #ffca08;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.hero-block .hero-block-nav li a {
  position: relative;
  font-size: 20px;
  margin-left: 60px;
}

.hero-block .hero-block-nav li a i {
  position: absolute;
  left: -55px;
  top: -3px;
  margin-right: 25px;
  font-size: 35px;
  line-height: 1;
}

.hero-block p {
  margin-top: 60px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 42%;
          flex: 0 0 42%;
  color: #000000;
  font-size: 31px;
  font-weight: 300;
  line-height: 54px;
  opacity: 0.9;
}

.hero-block .text-background {
  display: inline-block;
  padding: 0px 10px;
  background-color: #ffca08;
}

.hero-block .text-background:not(:last-of-type) {
  margin-bottom: 5px;
}

b {
  font-weight: 500;
}

.services-section {
  margin: 0px -21px 30px -21px;
}

.services-section::after {
  content: "";
  clear: both;
  display: block;
}

.linkinator {
  float: left;
  margin: 10px 27px;
  min-width: 380px;
  min-height: 335px;
  -webkit-box-shadow: 0 0 4px rgba(7, 88, 145, 0.09);
          box-shadow: 0 0 4px rgba(7, 88, 145, 0.09);
  border: 1px solid #d7dcdf;
}

.linkinator-header {
  background-color: #f9f9f9;
  padding: 20px 22px;
  text-decoration: underline;
}

.linkinator-body {
  color: #267bae;
}

.linkinator-body > li {
  padding: 17px 24px 0px 17px;
}

.linkinator-body > li:last-child a {
  border-bottom: none;
}

.linkinator-body > li:hover {
  background-color: aliceblue;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.linkinator-body > li > a {
  border-bottom: 1px solid #d7dcdf;
  display: block;
  padding-bottom: 10px;
  position: relative;
}

.linkinator-body > li > a > i {
  padding-right: 12px;
}

.linkinator-body > li > a:hover {
  color: #ff9626;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

._icon-angle-right {
  position: absolute;
  top: 3px;
  right: -7px;
}

.benefits-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

.benefits-section .benefits-body {
  margin-top: 40px;
  margin-bottom: 35px;
}

.benefits-section .benefits-body .title {
  margin-bottom: 20px;
}

.benefits-section .benefits-body li {
  font-weight: 300;
}

.benefits-section .benefits-body li:not(:last-of-type) {
  margin-bottom: 20px;
}

.benefits-section .benefits-body i {
  color: #ffca08;
  padding-right: 12px;
}

.benefits-section .benefits-text {
  background-image: url("../img/text-block.jpg");
  width: 726px;
  height: 239px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 57.6%;
          flex: 0 0 57.6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.benefits-section .benefits-text span {
  display: inline-block;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 5px 20px;
  font-size: 25px;
  font-weight: 300;
  background-color: #ffca08;
  opacity: 0.9;
}

.about-project {
  max-width: 790px;
  margin-bottom: 68px;
}

.about-project .title {
  margin-bottom: 14px;
}

.about-project p {
  font-weight: 500;
  line-height: 25px;
}

.about-project p:not(:last-of-type) {
  margin-bottom: 14px;
}

.main-footer {
  background-color: #f8f8f8;
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 35px;
  margin-bottom: 50px;
}

.footer-wrapper .footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-wrapper .footer-links .footer-link {
  display: block;
  text-decoration: underline;
  line-height: 26px;
  font-size: 17px;
  margin-bottom: 12px;
}

.footer-wrapper .footer-links .footer-link_margin {
  margin-bottom: 20px;
}

.footer-wrapper .footer-links .footer-link:hover {
  color: #267bae;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.footer-wrapper .footer-links .footer-link-email {
  font-size: 15px;
  color: #267bae;
}

.footer-wrapper .footer-links .footer-link-email:hover {
  color: #ffca08;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.footer-wrapper .footer-links .footer-link-cellphone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  text-decoration: none;
}

.footer-wrapper .footer-links .footer-link-cellphone:hover {
  color: #267bae;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.footer-wrapper .footer-links ._icon-phone {
  padding-right: 5px;
  color: #ffca08;
}

.footer-wrapper .footer-social-media .footer-text {
  color: #303030;
  line-height: 40px;
}

.footer-wrapper .footer-social-media .form {
  margin-bottom: 7px;
}

.footer-wrapper .footer-social-media .form-field {
  display: block;
  margin-bottom: 10px;
  max-width: 268px;
}

.footer-wrapper .footer-social-media .form-input {
  cursor: text;
  width: 100%;
  height: 36px;
  -webkit-box-shadow: 0 0 2px rgba(0, 95, 149, 0.64);
          box-shadow: 0 0 2px rgba(0, 95, 149, 0.64);
  border: 1px solid #267bae;
  font-size: 17px;
  color: #787878;
  padding: 8px;
  line-height: 30px;
}

.footer-wrapper .footer-social-media .form-input:hover {
  -webkit-box-shadow: 0 0 2px rgba(250, 230, 6, 0.64);
          box-shadow: 0 0 2px rgba(250, 230, 6, 0.64);
  border: 1px solid #cbcb20;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.footer-wrapper .footer-social-media .form-button {
  min-width: 269px;
  height: 36px;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  background-color: #4085b5;
  cursor: pointer;
  padding: 10px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-wrapper .footer-social-media .form-button:hover {
  background-color: #ffca08;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.footer-wrapper .footer-social-media .footer-subtext {
  font-size: 13px;
  color: #808080;
  font-weight: 300;
  letter-spacing: -0.2px;
  margin-bottom: 16px;
}

.footer-wrapper .footer-social-media .social-media {
  color: #bdbdbd;
  font-size: 30px;
}

.footer-wrapper .footer-social-media .social-media a {
  display: inline-block;
}

.footer-wrapper .footer-social-media .social-media a:not(:last-of-type) {
  margin-right: 17px;
}

.footer-wrapper .footer-social-media .social-media a:hover {
  color: #267bae;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.footer-nav {
  max-width: 517px;
}

.tabs-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tabs-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  height: 40px;
  padding: 13px 20px;
  color: #000000;
  font-size: 17px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tabs-item span {
  position: relative;
  z-index: 2;
}

.tabs-block {
  position: relative;
  display: none;
}

.tabs-block::before {
  content: "";
  height: 40px;
  width: 25%;
  position: absolute;
  top: -40px;
}

.tabs-block:nth-child(1)::before {
  left: 0;
  border: 1px solid #d8d8d8;
  background-color: #ffffff;
  opacity: 0.65;
}

.tabs-block:nth-child(2)::before {
  left: 25%;
  border: 1px solid #d8d8d8;
  background-color: #ffffff;
  opacity: 0.65;
}

.tabs-block:nth-child(3)::before {
  left: 50%;
  border: 1px solid #d8d8d8;
  background-color: #ffffff;
  opacity: 0.65;
}

.tabs-block:nth-child(4)::before {
  right: 0%;
  border: 1px solid #d8d8d8;
  background-color: #ffffff;
  opacity: 0.65;
}

.tabs-block:nth-child(1), .tabs-block:nth-child(2), .tabs-block:nth-child(3), .tabs-block:nth-child(4) {
  border: 1px solid #d8d8d8;
  background-color: #ffffff;
  opacity: 0.65;
}

.tabs-block:target {
  display: block;
  border: 1px solid #d8d8d8;
  background-color: #ffffff;
  opacity: 0.65;
}

.tabs-block-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 15px;
}

.tabs-block-link {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.tabs-block-link a {
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  line-height: 173%;
  text-decoration: underline;
  color: #267bae;
  padding: 10px 15px;
}

.tabs-block-link a:hover {
  color: #ffca08;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}
