$linkinatorColorBlue: #267bae;
$linkinatorColorOrange: #ff9626;
$linkinatorColorYellow: #ffca08;

.main-footer{
	background-color: #f8f8f8;
}
.footer-wrapper{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 35px;
	margin-bottom: 50px;
	.footer-links{
		display: flex;
		flex-direction: column;
		.footer-link{
			display: block;
			text-decoration: underline;
			line-height: 26px;
			font-size: 17px;
			margin-bottom: 12px;
			&_margin{
				margin-bottom: 20px;
			}
			&:hover{
				color: $linkinatorColorBlue;
				transition: transform 0.3s ease 0s;
			}
		}
		.footer-link-email{
			font-size: 15px;
			color: $linkinatorColorBlue;
			&:hover{
				color: $linkinatorColorYellow;
				transition: transform 0.3s ease 0s;
			}
		}
		.footer-link-cellphone{
			display: flex;
			align-items: center;
			font-size: 18px;
			text-decoration: none;
			&:hover{
				color: $linkinatorColorBlue;
				transition: transform 0.3s ease 0s;
			}
		}
		._icon-phone{
			padding-right: 5px;
			color: $linkinatorColorYellow;
		}
	}
	.footer-social-media{
		.footer-text{
			color: #303030;
			line-height: 40px;
		}
		.form{
			margin-bottom: 7px;
		}
		.form-field{
			display: block;
			margin-bottom: 10px;
			max-width: 268px;
		}
		.form-input{
			cursor: text;
			width: 100%;
			height: 36px;
			box-shadow: 0 0 2px rgba(0, 95, 149, 0.64);
			border: 1px solid #267bae;
			font-size: 17px;
			color: #787878;
			padding: 8px;
			line-height: 30px;
			&:hover{
				box-shadow: 0 0 2px rgba(250, 230, 6, 0.64);
				border: 1px solid #cbcb20;
				transition: transform 0.3s ease 0s;
			}
		}
		.form-button{
			min-width: 269px;
			height: 36px;
			color: #fff;
			font-size: 18px;
			font-weight: 400;
			line-height: 30px;
			background-color: #4085b5;
			cursor: pointer;
			padding: 10px;
			text-align: center;
			display: flex;
			justify-content: center;
			align-items: center;
			&:hover{
				background-color: $linkinatorColorYellow;
				transition: transform 0.3s ease 0s;
			}
		}
		.footer-subtext{
			font-size: 13px;
			color: #808080;
			font-weight: 300;
			letter-spacing: -0.2px;
			margin-bottom: 16px;
		}
		.social-media{
			a{
				display: inline-block;
				&:not(:last-of-type){
					margin-right: 17px;
				}
				&:hover{
					color: $linkinatorColorBlue;
					transition: transform 0.3s ease 0s;
				}
			}
			color: #bdbdbd;
			font-size: 30px;
		}
	}
}

.footer-nav{
	max-width: 517px;
}
.tabs {
}
.tabs-items {
	display: flex;
}
.tabs-item {
	flex: 0 1 25%;
	height: 40px;
	padding: 13px 19px;
	color: #000000;
	font-size: 17px;
	line-height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	span{
		position: relative;
		z-index: 2;
	}
}
.tabs-body {
}
.tabs-block {
	position: relative;
	display: none;
	&::before{
		content: "";
		height: 40px;
		width: 25%;
		position: absolute;
		top: -40px;
	}
	&:nth-child(1)::before	{
		left: 0;
		border: 1px solid #d8d8d8;
		background-color: #ffffff;
		opacity: 0.65;
	}
	&:nth-child(2)::before	{
		left: 25%;
		border: 1px solid #d8d8d8;
		background-color: #ffffff;
		opacity: 0.65;
	}
	&:nth-child(3)::before	{
		left: 50%;
		border: 1px solid #d8d8d8;
		background-color: #ffffff;
		opacity: 0.65;
	}
	&:nth-child(4)::before	{
		right: 0%;
		border: 1px solid #d8d8d8;
		background-color: #ffffff;
		opacity: 0.65;
	}
	&:nth-child(1),
	&:nth-child(2),
	&:nth-child(3),
	&:nth-child(4)	{
		border: 1px solid #d8d8d8;
		background-color: #ffffff;
		opacity: 0.65;
	}
	&:target{
		display: block;
		border: 1px solid #d8d8d8;
		background-color: #ffffff;
		opacity: 0.65;
	}
}
.tabs-block-wrapper{
	display: flex;
	padding: 10px 15px;
}
.tabs-block-link {
	flex: 0 1 33.333%;
	a{
		display: inline-block;
		font-size: 15px;
		font-weight: 400;
		line-height: 173%;
		text-decoration: underline;
		color: $linkinatorColorBlue;
		padding: 10px 15px;
		&:hover{
			color: $linkinatorColorYellow;
			transition: transform 0.3s ease 0s;
		}
	}
}
