$ColorBlue: #267bae;
$ColorYellow: #ffca08;

.main-footer{
	background-color: #f8f8f8;
}
.footer-wrapper{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 35px;
	margin-bottom: 50px;
	.footer-links{
		display: flex;
		flex-direction: column;
		.footer-link{
			display: block;
			text-decoration: underline;
			line-height: 26px;
			font-size: 17px;
			margin-bottom: 12px;
			&_margin{
				margin-bottom: 20px;
			}
			
			&:hover{
				color: $ColorBlue;
				transition: transform 0.3s ease 0s;
			}
		}
		.footer-link-email{
			font-size: 15px;
			color: $ColorBlue;

			&:hover{
				color: $ColorYellow;
				transition: transform 0.3s ease 0s;
			}
		}
		.footer-link-cellphone{
			display: flex;
			align-items: center;
			font-size: 18px;
			text-decoration: none;

			&:hover{
				color: $ColorBlue;
				transition: transform 0.3s ease 0s;
			}
		}
		._icon-phone{
			padding-right: 5px;
			color: $ColorYellow;
		}
	}
	.footer-social-media{
		.footer-text{
			color: #303030;
			line-height: 40px;
		}
		.form{
			margin-bottom: 7px;
		}
		.form-field{
			display: block;
			margin-bottom: 10px;
			max-width: 268px;
		}
		.form-input{
			cursor: text;
			width: 100%;
			height: 36px;
			box-shadow: 0 0 2px rgba(0, 95, 149, 0.64);
			border: 1px solid #267bae;
			font-size: 17px;
			color: #787878;
			padding: 8px;
			line-height: 30px;

			&:hover{
				box-shadow: 0 0 2px rgba(250, 230, 6, 0.64);
				border: 1px solid #cbcb20;
				transition: transform 0.3s ease 0s;
			}
		}
		.form-button{
			min-width: 269px;
			height: 36px;
			color: #fff;
			font-size: 18px;
			font-weight: 400;
			line-height: 30px;
			background-color: #4085b5;
			cursor: pointer;
			padding: 10px;
			text-align: center;
			display: flex;
			justify-content: center;
			align-items: center;
			
			&:hover{
				background-color: $ColorYellow;
				transition: transform 0.3s ease 0s;
			}
		}
		.footer-subtext{
			font-size: 13px;
			color: #808080;
			font-weight: 300;
			letter-spacing: -0.2px;
			margin-bottom: 16px;
		}
		.social-media{
			a{
				display: inline-block;
				&:not(:last-of-type){
					margin-right: 17px;
				}
				&:hover{
					color: $ColorBlue;
					transition: transform 0.3s ease 0s;
				}
			}
			color: #bdbdbd;
			font-size: 30px;
		}
	}
}

.footer-nav{
	max-width: 517px;
}

.tabs-items {
	display: flex;
}
.tabs-item {
	flex: 0 1 25%;
	height: 40px;
	padding: 13px 20px;
	color: #000000;
	font-size: 17px;
	line-height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;

	&.is-active{
		border: 1px solid #d8d8d8;
		border-bottom: none;
		background-color: #ffffff;
		border-radius: 4px 4px 0 0;
		z-index: 1;
	}
}
.tabs-body{
	margin-top: -1px;
}
.tab-block {
	position: relative;
	display: none;

	&:target{
		display: flex;
		border: 1px solid #d8d8d8;
		background-color: #ffffff;
		border-radius: 0 4px 4px 4px;
	}
}

.tab-block-menu-list {
	flex: 0 1 33.333%;
	a{
		display: inline-block;
		font-size: 15px;
		font-weight: 500;
		line-height: 173%;
		text-decoration: underline;
		color: $ColorBlue;
		padding: 10px 15px;

		&:hover{
			color: $ColorYellow;
			transition: transform 0.3s ease 0s;
		}
	}
}
