$maxWidthContainer: 1263;
$fontFamily: "Open Sans";
$fontSize: 15px;
$fontSizeTitle: 20px;
$mainColor: #000000;
$linkinatorColorBlue: #267bae;
$linkinatorColorOrange: #ff9626;
$linkinatorColorYellow: #ffca08;

.services-section {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 20px 0px;
}

.linkinator {
	flex: 0 1 30%;
	box-shadow: 0 0 4px rgba(7, 88, 145, 0.09);
	border: 1px solid #d7dcdf;
	
	&-header {
		background-color: #f9f9f9;
		padding: 20px 22px;
		text-decoration: underline;
	}
	&-body {
		margin: 17px 40px 17px 23px;
		color: $linkinatorColorBlue;
		> li{
			padding: 10px 0px;
			border-bottom: 1px solid #d7dcdf;
			position: relative;
			&:last-child{
				border-bottom: none;
			}
			> a{
				> i{
					padding-right: 12px;
				}
				&:hover{
					color: $linkinatorColorOrange;
				}
			}
			
		}
	}
}
._icon-angle-right{
	margin-left: 95%;
	position: absolute;
	top: 27%;
	left: 0;
}