

$maxWidthContainer: 1260;
$fontFamily: "Open Sans";
$fontSizePrimary: 15px;
$fontSizeTitle: 20px;
$colorPrimary: #000000;
$colorBlue: #267bae;
$colorOrange: #ff9626;
$colorYellow: #ffca08;
$backgroundColorFooter: #f8f8f8;
$fontWeightPrimary: 400;
$fontWeightLite: 300;
